.venv/
venv/
__pycache__/
*.pyc
.vscode/
.python-version
.env
movielens.duckdb
movielens.duckdb.wal
movielens.duckdb
big_data/ml-32m/data/*.parquet
big_data/ml-32m/data/*.tsv
big_data/ml-32m/data/ratings_32m.parquet_jynu0kw.part
.DS_Store
BDF25_7_data/.DS_Store
BDF25_7_data/big_data/.DS_Store
BDF25_7_data/big_data/ml-32m/data/links_32m.parquet
BDF25_7_data/big_data/ml-32m/data/movies_32m.parquet
BDF25_7_data/big_data/ml-32m/data/ratings_32m.parquet
BDF25_7_data/big_data/ml-32m/data/tags_32m.parquet
BDF25_7_data/big_data/.DS_Store
BDF25_7_data/big_data/ml-32m/title.basics.tsv
BDF25_7_data/big_data/ml-32m/title.basics.tsv.gz
BDF25_7_data/big_data/ml-32m/data/ratings_32m.parquet_jynu0kw.part
